body{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}


textarea{
    padding:50px 20px;
    resize: none;
    width: 100%;
    height: 120px;
}

.submit{
    margin: 40px 0;
}

.submit-button{
    width: 40%;
}

h1{
    color: blue;
}

